@model List<Employee> //view is  receiving a list of Employee objects from the controller and it also tells what properties it can acesss

        
       <table class="table">

                <tr>
                    <th>Employee Id</th>
                    <th>Name</th>
                    <th>Job</th>
                    <th>Salary</th>
                    <th>Dept Name</th>
                </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.EmployeeId</td>
            <td>@item.EName</td>
            <td>@item.Job</td>
            <td>@item.Salary</td>
            <td>@item.Dept.Dname</td>
        </tr>
    }

</table>
